<!doctype html>
<html lang="en">
<head>
  {{> head }}
  {{{ page.stylesheets }}}

  <style type="text/css">
    table{background-color: transparent;}
  </style>

  <!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
  });
</script>


<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</head>
<body>
  {{# page.navbar }}{{> navbar }}{{/ page.navbar }}
  <div class="reveal">
    <div class="slides">
      {{{ page.content }}}
    </div>
  </div>
</body>
  <script src="{{page.url.framework}}/lib/js/head.min.js"></script>
  <script src="{{page.url.framework}}/js/reveal.min.js"></script>
  {{> initialize }}
  {{> javascripts }}

</html>
